<ng-container [formGroup]="shirtSelectorForm">
  <label class="form-group form-group--size" for="shirt-size-{{ trackID }}">
    <span>尺寸</span>
    <select class="form-group__control" name="shirt-size" id="shirt-size-{{ trackID }}" formControlName="size">
      @for (item of SHIRT_SIZE_PRICES | keyvalue: noobCompareFunction; track $index) {
      <option [value]="item.key">{{ item.key }}</option>
      }
    </select>
  </label>
  <label class="form-group form-group--quantity" for="quantity-{{ trackID }}">
    <input class="form-group__control" type="number" min="0" id="quantity-{{ trackID }}" formControlName="quantity">
    <span>件</span>
  </label>
</ng-container>
