:host {
  display: inline-flex;
  column-gap: 1rem;
}

.form-group {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  &__control {
    flex: 1;
    width: 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba(187, 187, 187, 0.616);
    border-radius: 0.25rem;
    @media (min-width: 768px) {
      width: auto;
    }
  }
}

.form-group--size {
  width: 40%;
  @media (min-width: 768px) {
    width: auto;
  }
}

.form-group--quantity {
  width: 60%;
  @media (min-width: 768px) {
    width: auto;
  }
}
